body {
	background-color: #FFFFCC;
	margin: 0;
	text-align: center;
	font-family: 'Merriweather Sans', sans-serif;
}

a {
	text-decoration: none;
	color: black;
	font-size: 1.5rem;
}

h1 {
	margin: 50px auto 0 auto;
	font-family: 'Dancing Script', cursive;
	font-size: 5.625rem;
	color: #C39163;
}

h2 {
	font-family: 'Quicksand', sans-serif;
	font-size: 2.5rem;
	margin-top: 0;
	color: #C39163; 
}

h3 {
	font-family: 'Quicksand', sans-serif;

}

hr {
	border-color: #f2c194;
    border-style: dotted none none;
    border-width: 6px;
    spacing: 4mm;
    width: 2.5%;
    background-color: #FFFFCC;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
}

p {
	margin: 0;
	font-size: 1.5rem;
}

.myphoto {
	border-radius: 50%;
	width: 15%;
}

.skillphoto {
	width:15%;
	margin-right: 10px;
}

.top_cont {

	padding: 20px;
	padding-top: 100px;
}

.mid_cont {
}

.bot_cont {

	margin-top: 80px;
	padding-top: 37px;
	background-color: #C39163;
}

.top_cloud {
	position: absolute;
	right: 210px;
	top: 45px;

}

.bottom_cloud {
	position: absolute;
	left: 180px;
	bottom: 300px;
}

.btn {
	color: white;
	background-color: #C39163;
	font-size: 1.7rem;
	border-radius: 10px;
	border-width: 0;
	padding: 15px;
}


.btn:hover,
.btn:focus {
  background-color: #eab676;
}

.footer {
	font-size: 0.9rem;
	color: white;
}