body {
	background-color: #FFFFCC;
	margin: 0;
	text-align: center;
	font-family: 'Merriweather Sans', sans-serif;
}

h1 {
	margin: 0;
	font-family: 'Dancing Script', cursive;
}

h2 {
	font-family: 'Quicksand', sans-serif;
}

h3 {
	font-family: 'Quicksand', sans-serif;
}

p {
	margin: 0;
}

.myphoto {
	border-radius: 50%;
	width: 15%;
}

.skillphoto {
	width:15%;
	margin-right: 10px;
}

.top_cont {

	padding: 20px;
	padding-top: 100px;
}

.mid_cont {
}

.bot_cont {

}

.top_cloud {
	position: absolute;
	right: 180px;
	top: 45px;

}

.bottom_cloud {
	position: absolute;
	left: 150px;
	bottom: 480px;
}
